<div class="row">
  <% if funded_person.fiscal_years.present? %>
    <div class="col-md-10">
      <% status = Status.new(funded_person, funded_person.selected_fiscal_year) %>
      <div class="row">
        <div class="col-md-2 test-spent-funds text-center">
          Funding Spent
        </div>
        <div class="col-md-2 test-committed-funds text-center">
          Funding Approved
        </div>
        <div class="col-md-3 test-remaining-funds text-center">
          Funding Remaining this Year
        </div>
        <div class="col-md-3 test-allowable-funds-for-year text-center">
          Total Funding for Year
        </div>
        <div class="col-md-2 test-spent-out-of-pocket text-center">
          Out of Pocket
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 test-spent-funds text-center">
          <%= number_to_currency(status.spent_funds) %>
        </div>
        <div class="col-md-2 test-committed-funds text-center">
          <%= number_to_currency(status.committed_funds) %>
        </div>
        <div class="col-md-3 test-remaining-funds text-center">
          <%= number_to_currency(status.remaining_funds) %>
        </div>
        <div class="col-md-3 test-allowable-funds-for-year text-center">
          <%= number_to_currency(status.allowable_funds_for_year) %>
        </div>
        <div class="col-md-2 test-spent-out-of-pocket text-center">
          <%= number_to_currency(status.spent_out_of_pocket) %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-md-10">
      <p class="text-center">No data available for this period.</p>
    </div>
  <% end %>
  <div class="col-md-2">
    <% if (fiscal_year_list = funded_person.fiscal_years).present? %>
      <%= select_tag "year[#{funded_person.id}]",
                     options_from_collection_for_select(fiscal_year_list,
                                                        :to_s,
                                                        :to_s,
                                                        funded_person.selected_fiscal_year.to_s),
                                                        class: "pull-right fiscal-year-selector" %>
     <% end %>
  </div>
</div>
