<%#= render partial: 'shared/flash_area', locals: { model: @cf0925 } %>

<%#= form_for([@funded_person,@invoice]) do |f| %>
<%= bootstrap_form_for(@invoice, url: @url, builder: AutismFundingFormBuilder) do |f| %>
  <%= f.hidden_field :funded_person_id %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Service Provider, Invoice Amount, Service Dates
      </h3>
    </div>
    <div class="panel-body" style="margin: 8px;">
      <div class="row">
        <% opt_list = prep_options false, @invoice.funded_person.cf0925s, :service_provider_name, ['', '-- Other Service Provider --', @invoice.service_provider_name] %>
        <%= f.select :service_provider_name,
                     opt_list,
                     {
                       label: 'Service Provider',
                       column_width: 10
                     } %>

        <%#= f.collection_select :service_provider_name, Cf0925.all, :service_provider_name, :service_provider_name,{prompt: 'None Selected', include_blank: '-- Other Service Provider --'},{class: 'form-control'} %>
        <%= f.number_field(:invoice_amount, step: '.01', label: 'Amount', column_width: 2) %>
      </div>
      <div class="row">
        <%= f.date_field :service_start, label: 'Service Start', column_width: 3 %>
        <%= f.date_field :service_end, label: 'Service End', column_width: 3 %>
        <%= f.select :cf0925_id,
        rtp_option_list_for_select(f.object),
        {
          prompt: 'Choose a Request to Pay',
          label: 'Request to Pay',
          column_width: 6
        },
        class: 'rtp-select' %>
      </div>


<% #----- Pattern for checking layout (Diagnostic) ------------------------------- %>
            <div class="row">
            <% i = 100 # set i to 1 to show grids %>
            <% while i < 12 %>
              <div class="col-sm-1" style="background-color: blue; text-align: center; color: white;">
                <%= i %>
                <% i = i + 1 %>
              </div>
              <div class="col-sm-1" style="background-color: red; text-align: center; color: white;">
                <%= i %>
                <% i = i + 1 %>
              </div>
            <% end %>
            </div>
<% # - end of the check pattern ----------------------------------------------%>

    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Invoice Date, Invoice Reference, Agency, Supplier, Notes
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <%= f.date_field :invoice_date, label: 'Invoice Date', column_width: 6 %>
        <%= f.text_field :invoice_reference, label: 'Invoice Reference', column_width: 6 %>
      </div>
      <div class="row">
        <% opt_list = prep_options false, @invoice.funded_person.cf0925s, :agency_name, ['', '-- Other Agency --', @invoice.agency_name] %>
        <%= f.select :agency_name,
                     opt_list,
                     {
                       label: 'Agency',
                       column_width: 6
                     },
                     { _width: 6 } %>

        <%#=  f.collection_select :agency_name, Cf0925.all, :agency_name, :agency_name,{prompt: 'None Selected', include_blank: '-- Other Agency --'},{class: 'form-control'}  %>
        <% opt_list = prep_options false, @invoice.funded_person.cf0925s, :supplier_name, ['', '-- Other Supplier --', @invoice.supplier_name] %>
        <%= f.select :supplier_name,
                     opt_list,
                     {
                       label: 'Supplier',
                       column_width: 6
                     },
                     { mn_width: 6 } %>
        <%#= f.collection_select :supplier_name, Cf0925.all, :supplier_name, :supplier_name,{prompt: 'None Selected', include_blank: '-- Other Supplier --'},{class: 'form-control'} %>
      </div>

      <div class="row">
        <%= f.text_field :notes, { size: 100, label: 'Notes', column_width: 12 } %>
      </div>
    </div>
  </div>
  <%= f.submit 'Save' %>
<% end %>
