<tr class="static-form-record test-cf0925-invoice-row">
  <td class="text-right">
    <%= invoice_allocation.display_start_date.to_formatted_s(:iso8601) %>
  </td>
  <td class="text-right">
    <%= invoice_allocation.display_end_date.to_formatted_s(:iso8601) %>
  </td>
  <td><%= invoice_allocation.payee %></td>
  <td class="text-right">
    <%= number_to_currency(invoice_allocation.requested_amount) %>
  </td>
  <td class="text-right">
    <%= invoice_allocation_form.currency_field(:amount, hide_label: true) %>
    <%= invoice_allocation_form.hidden_field(:cf0925_id) %>
    <%= invoice_allocation_form.hidden_field(:cf0925_type) %>
    <%= invoice_allocation_form.hidden_field(:invoice_id) %>
    <%= invoice_allocation_form.hidden_field(:id) %>
  </td>
</tr>
