<div class="container">
  <div class="row text-center">
    <h2>Other Resources</h2>
    <p>
      Check these links out for other resources and information of interst to
      parents of autistic children
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Autism Community Training</h2>
      <p>
        The
        <%= link_to "Autism Community Training (ACT) site",
                    "http://www.actcommunity.ca/",
                    target: "_blank"
        %>
        has a huge number of resources for families
        with autistic children
        in BC.
        Their
        <%= link_to "Autism Manual for BC",
                    "http://www.actcommunity.ca/information/autism-manual-for-bc/",
                    target: "_blank"
        %>
        is essential reading for families in BC.
      </p>
    </div>
    <div class"col-md-6">
      <h2>BC Government</h2>
      <p>
        The
        <%= link_to "provincial government's site",
                    "http://www2.gov.bc.ca/gov/content/health/managing-your-health/healthy-women-children/child-behaviour-development/special-needs/autism-spectrum-disorder",
                    target: "_blank"
        %>
        contains the official government information.
        The
        <%= link_to "autism funding page",
                    "http://www2.gov.bc.ca/gov/content/health/managing-your-health/healthy-women-children/child-behaviour-development/special-needs/autism-spectrum-disorder/autism-funding",
                    target: "_blank"
        %>
        has information directory related to funding.
      </p>
      <p>
        The province has its own
        <%= link_to "Handbook",
                    "http://www2.gov.bc.ca/assets/gov/health/managing-your-health/autism/autism_handbook_parents_guide.pdf",
                    target: "_blank"
        %>
        (PDF),
        which explains the autism funding program in detail.
      </p>
    </div>
  </div>
</div>
