<% title("All Children") %>
<% unless current_user.bc_warning_acknowledgement? %>
  <div class="alert alert-warning">
    <div class="row">
      <div class="col-md-7">
        <span class="glyphicon glyphicon-star-empty"></span>
        The forms and funding found in this area are only availble to residents of
        British Columbia
      </div>
      <div class="col-md-5">
        <%= link_to('I understand, please don\'t show me this anymore', home_acknowledge_bc_instructions_path, method: :post, class: 'btn btn-deefault btn-block') %>
      </div>
    </div>
  </div>
<% end %>
<%  if @funded_people.count == 0 %>
  <div class="alert alert-warning">
    <span class="glyphicon glyphicon-star-empty"></span>
    You have not defined any funded children in your profile, so your home page is blank
    <br><br>
    You may enter your funded children in <%= link_to 'My Profile', my_profile_index_path %>.  Edit
    your profile and include any funded children.
  </div>
<% end %>
<%= render 'shared/notifications' %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <%= form_tag(home_index_path, method: :get, class: "fiscal-year-selector") do %>
    <%= render partial: "funded_people/show_panel", collection: @funded_people, as: :funded_person %>
  <% end %>
</div>
