<div class="container">
  <h1>Edit My Data</h1>
  <br>
  <% unless flash[:save_errors].nil? %>
    <div style = "width: 80%; color: black; background-color: #FFE6E6; border: 5px double red; padding: 5px; margin-left: 20px;">
      <%= flash[:save_errors].html_safe %>
    </div>
    <br>
  <% end %>

  <%= form_for current_user, {url: my_profile_update_path, role: "form"}  do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label "First Name:", class: 'control-label' %>
        <%= f.text_field :name_first, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label "Middle Name:", class: 'control-label' %>
        <%= f.text_field :name_middle, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label "Last Name:", class: 'control-label' %>
        <%= f.text_field :name_last, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br><br>
  <div class="row"><div class="col-md-12 lead">Address</div></div>
  <%= fields_for @my_address do |ma| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= ma.label "Address 1:", class: 'control-label' %>
          <%= ma.text_field :address_line_1, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= ma.label "Address 2:", class: 'control-label' %>
          <%= ma.text_field :address_line_2, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= ma.label "City:", class: 'control-label' %>
          <%= ma.text_field :city, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <%= ma.label "Province:", class: 'control-label' %>
        <%= ma.collection_select :province_code_id, ProvinceCode.all, :id, :province_name, {prompt: true}, {class: 'form-control'}  %> </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="form-group">
          <%= ma.label "Postal Code:", class: 'control-label' %>
          <%= ma.text_field :postal_code, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  <% end %>
  <br><br>
  <div class="row"><div class="col-md-12 lead">Phone Numbers</div></div>

  <div class="row">
    <%= fields_for :home_phone_number, @home_phone do |mp| %>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label "Home:", class: 'control-label' %>
          <%= mp.text_field :phone_number, class: 'form-control' %>
        </div>
      </div>
    <% end %>
    <div class="col-md-1"></div>
    <%= fields_for :work_phone_number, @work_phone do |mp| %>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label "Work:", class: 'control-label' %>
          <%= mp.text_field :phone_number, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <%= f.label "Ext:", class: 'control-label' %>
          <%= mp.text_field :phone_extension, class: 'form-control' %>
        </div>
      </div>
    <% end %>
    <div class="col-md-6"></div>
  </div>

  <br><br>
  <div class="row"><div class="col-md-12 lead">Funded Children</div></div>
  <%= f.fields_for :funded_people do |fp| %>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= fp.label "First Name", class: 'control-label' %>
          <%= fp.text_field :name_first, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= fp.label "Middle Name", class: 'control-label' %>
          <%= fp.text_field :name_middle, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= fp.label "Last Name", class: 'control-label' %>
          <%= fp.text_field :name_last, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= fp.label "Bithdate", class: 'control-label' %>
          <%= fp.date_field :birthdate, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-1">
        <br>
        <%= fp.label "Delete ?", class: 'control-label' %>
        <%= fp.check_box :_destroy %>
      </div>

    </div>

  <% end %>

  <div class="row"><div class="col-md-12 lead"><%= f.submit class: 'btn btn-primary' %></div></div>


  <%#= f.fields_for :funded_people do |builder| %>
        <%#= render partial: 'cf0925s/child_info', locals: { f: builder } %>
        <div class="col-md-1"><%#= link_to 'Delete', '#', class: "btn btn-danger btn-xs" %></div>
      <%# end %>

    <div class="row">
      <div class="col-md-1">
        <%#= render partial: 'cf0925s/child_info', locals: { f: builder } %>
    </div>

      <%#= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'.html_safe, '', class: 'btn' %>
    </div>
  <% end %>
</div>
