<%= form_row do %>
  <%= child_field(f, :child_first_name, 2) %>
  <%= child_field(f, :child_middle_name, 2) %>
  <%= child_field(f, :child_last_name, 2) %>
  <%= child_field(f, :child_dob, 2) %>
  <%= child_field(f, "Is this child in the care of the ministry?", 2) do %>
  <%= f.radio_button(:child_in_care_of_ministry, 'Choice1') %>
  <%= f.label('Yes') %>
  <br/>
  <%= f.radio_button(:child_in_care_of_ministry, 'Choice2') %>
  <%= f.label('No') %>
  <% end %>

  <div class="col-md-2">
    <p>
      If you need to change the child information,
      you have to go to your
      <%= link_to 'profile page', my_profile_edit_path(@cf0925.funded_person.user) %>
      and change it there,
      then re-start the request to pay.
    </p>
  </div>
<% end %>
