<%= form_row do %>
  <%= f.static_control(:child_last_name, column_width: 2, label: 'Last Name') %>
  <%= f.static_control(:child_first_name, column_width: 2, label: 'First') %>
  <%= f.static_control(:child_middle_name, column_width: 2, label: 'Middle') %>
  <%= f.static_control(:child_dob, column_width: 2, label: 'Date of Birth') %>
  <%= f.form_group(:child_in_care_of_ministry,
                       column_width: 4,
                       label: {
                         text: "Is this child in the care of the ministry?"
                         }) do %>
    <% if @cf0925.child_in_care_of_ministry %>
      Yes
    <% else %>
      No
    <% end %>
  <% end %>
<% end %>

<%= form_row do %>
  <div class="col-md-12">
    <p>
      If you need to change the child information,
      you have to go to your
      <%= link_to 'profile page', my_profile_edit_path(@cf0925.funded_person.user) %>
      and change it there.
    </p>
  </div>
<% end %>
<%# TODO - Need to format child in care of ministry and change HTML tags to bootstrap %>
