<%= render partial: 'shared/flash_area', locals: { model: @cf0925 } %>

<%= form_for([@cf0925.funded_person, @cf0925]) do |f| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Section 1 Parent/Guardian Information
      </h3>
    </div>
    <div class="panel-body">
      <%= form_row do %>
        <%= form_field(f, :parent_first_name, 2) %>
        <%= form_field(f, :parent_middle_name, 2) %>
        <%= form_field(f, :parent_last_name, 2) %>
        <%= form_field(f, :home_phone, 3) %>
        <%= form_field(f, :work_phone, 3) %>
      <% end %>
      <%= form_row do %>
        <%= form_field(f, :parent_address, 6) %>
        <%= form_field(f, :parent_city, 4) %>
        <%= form_field(f, :parent_postal_code, 2) %>
      <% end %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Section 2 Child Information
      </h3>
    </div>
    <div class="panel-body">
      <%= render partial: 'child_info', locals: { f: f } %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Part A Services
      </h3>
    </div>
    <div class="panel-body">
      <%= form_row do %>
      <%= form_field(f, :service_provider_name, 8) %>
      <%= form_field(f, nil, 4) do %>
      <%= f.radio_button(:payment, 'Choice1') %>
      <%= f.label('Service Provider') %>
      <br/>
      <%= f.radio_button(:payment, 'Choice2') %>
      <%= f.label('Agency') %>
      <% end %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :agency_name, 8) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :service_provider_address, 5) %>
      <%= form_field(f, :service_provider_city, 3) %>
      <%= form_field(f, :service_provider_postal_code, 2) %>
      <%= form_field(f, :service_provider_phone, 2) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :service_provider_service_1, 6) %>
      <%= form_field(f, :service_provider_service_start, 3) %>
      <%= form_field(f, :service_provider_service_end, 3) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :service_provider_service_2, 6) %>
      <%= form_field(f, :service_provider_service_fee, 2) %>
      <%= form_field(f, :service_provider_service_hour, 2) %>
      <%= form_field(f, :service_provider_service_amount, 2) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :service_provider_service_3, 6) %>
      <% end %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Part B Additional Expenses
      </h3>
    </div>
    <div class="panel-body">
      <%= form_row do %>
      <%= form_field(f, :supplier_name, 4) %>
      <%= form_field(f, :supplier_contact_person, 5) %>
      <%= form_field(f, :supplier_phone, 3) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :supplier_address, 6) %>
      <%= form_field(f, :supplier_city, 4) %>
      <%= form_field(f, :supplier_postal_code, 2) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :item_desp_1, 6) %>
      <%= form_field(f, :item_cost_1, 2) %>
      <%= form_field(f, :item_total, 4) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :item_desp_2, 6) %>
      <%= form_field(f, :item_cost_2, 2) %>
      <% end %>
      <%= form_row do %>
      <%= form_field(f, :item_desp_3, 6) %>
      <%= form_field(f, :item_cost_3, 2) %>
      <% end %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
