<!DOCTYPE html>
<html>
    <head>
        <title><%= Globals::site_name %> <%= yield(:title) %></title>

        <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', media: 'all' %>

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' %>

    </head>

    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" style="background-color: #08088A">
          <% unless user_signed_in? %>
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= Globals::site_name %></a>
          </div>
          <% end %>

          <ul class="nav navbar-nav">
            <% hash_for_menu.keys.sort.each do |key| %>
            <% the_title = key[2..-1] %>
            <% the_seq = key[0..1] %>
            <% the_link = hash_for_menu[key] %>
            <% unless the_seq == '__' %>
            <li><%= link_to the_title, the_link %></li>
            <% end %>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to current_user.email, edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <%# <li><a href="/welcome/contact_us"><span class="glyphicon glyphicon-user"></span>Contact Us</a></li> %>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="container">
          <%# ---- Notice or alert message from devise ---------------------------%>
          <% if notice %>
          <div class="alert alert-info"><%= notice %></div><% end %>
          <% if alert  %>
          <div class="alert alert-warning"><%= alert %></div><% end %>

      </div>
      <div class="container">
        <%= yield %>
      </div>
    </body>

    <footer class="container">
        <hr><br>
        <div class="row">
            <div class="col-md-4">
                <p style="text-align: left;">
                    <%= Globals::site_name %>
                    - helping parents manage funding for autistic children
                </p>
            </div>
            <div class="col-md-4">
                <p style="text-align: center;">
                    This site has is sponsored by
                    <%= Globals::sponsor_name %>, who are responsible for the development and hosting of this site.
                </p>
                <p style="text-align: center;">
                    Please visit
                    <%= link_to Globals::sponsor_url, Globals::sponsor_url  %>
                    to find out how
                    <%= Globals::sponsor_name %>
                    can help you develop your application.
                </p>
            </div>
            <div class="col-md-4" style="text-align: right;">
                <p class="small-letters">
                    <%= t=Time.new; t.strftime("%A, %d %b %Y %H:%M:%S %Z") %>
                    <br>
                    V00.10
                </p>
            </div>
        </div>
    </footer>

</html>
